<div id="contents">
    <h3>Contents</h3>
    <div id="contentsArea">
        <table class="table table-condensed" id="contentsTable">
            <thead>
                <tr>
                    <th>Preview</th>
                    <th>ID</th>
                    <th>User ID</th>
                    <th>Type</th>
                    <th>Upload Date</th>
                    <th>Description</th>
                    <th>Location</th>
                    <th>Image URL</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var content in @Model.Contents)
                {
                    <tr class="contentRow">
                        <td class="">
                            <a asp-controller="Content" asp-action="Detail" asp-route-id="@content.Id">
                                <img src="@content.ImageUrl" class="previewImage" />
                            </a>
                        </td>
                        <td>@content.Id</td>
                        <td>@content.UserId</td>
                        <td>@content.Type</td>
                        <td>@content.UploadDate</td>
                        <td>@content.Description</td>
                        <td>@content.Location</td>
                        <td>@content.ImageUrl</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
